<center>
<h1><span style="color: #1E3A8A;">My St James Way</h1>
<hr />
<style>
  .btn {
    background-color: rgba(30, 58, 138, 0.5);
    color: yellow;
  }
</style>
<div class='box small'>
  <a href='/celebrities/create' class='btn'>Add a Photo</a>
  <a href='/movies' class='btn'>Check Users Photos</a>
</div>
</center>





