<h2>Add a Photo</h2>

<form action="/celebrities/create" method="post">
<div>
  <label for="name">Author:</label>
  <input type="text" name="name" id="name">
</div>

<div>
  <label for="occupation">Location:</label>
  <input type="text" name="occupation" id="occupation">
</div>

<div>
  <label for="catchPhrase">Context:</label>
  <input type="text" name="catchPhrase" id="catchPhrase">
</div>

<div>
  <label for="catchPhrase">Photo:</label>
  <input type="text" name="catchPhrase" id="catchPhrase">
</div>


  <button type="submit" class="btn">New Photo</button>
</form>